<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="/inicio">Inicio</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group"></div>
    </form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
                <div *ngIf="authenticated" class="user-circle ms-2">
                    {{ nombre.charAt(0) }}{{ apellido.charAt(0) }}
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li *ngIf="!authenticated" class="nav-item">
                    <a class="dropdown-item" routerLink="/iniciarsesion">Iniciar Sesión</a>
                </li>
                <li *ngIf="authenticated" class="nav-item">
                    <button class="dropdown-item" (click)="onLogout()">Cerrar Sesión</button>
                </li>
            </ul>
        </li>
    </ul>
</nav>
